<h1>Veggies!</h1>

<h2>Veggies not eaten >:O</h2>

<div>
  {{#each burgers}}
  {{#unless devoured}}
   <p>{{burger_name}}</p>
   <button>Eat the Veggie!</button>
  {{/unless}}
  {{/each}}
</div>

<div>
  {{#each burgers}}
  {{#if devoured}}
    <p>{{burger_name}}</p>
{{/if}}
    {{/each}}
</div>

<div>
  <form action="/api/burgers" method="POST">
	<textarea type="text" name="burger_name"></textarea>

	<button type="submit">New Veggie</button>
</form>
</div>

<!--
<h2>Burgers that are eaten!</h2>

<ul>
 
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Ate burger!<br>
    <input type="radio" name="devoured" value="0"> No eat
  </div>

  <button type="submit">Add Burger</button>
</form>
-->