<h1>Veggies!</h1>

<h2>Veggies not eaten >:O</h2>

<div>
  {{#each burgers}}
  {{#unless devoured}}
   <p>{{burger_name}}</p>
   <button>Eat the Veggie!</button>
  {{/unless}}
  {{/each}}
</div>

<div>
  {{#each burgers}}
  {{#if devoured}}
    <p>{{burger_name}}</p>
{{/if}}
    {{/each}}
</div>

<div>
	<input id="veggieN" type="text" name="burger_name"></input>
  <input id="eaten" type="hidden" name ="devoured" value="0"></input>
 <!--<input type="submit" value="Button">-->
	<button id="clicks">New Veggie</button>


</div>


<script>
  $("#clicks").click(function(e){
    e.preventDefault();
    postVeggie();
  });
 function postVeggie (){
   //e.preventDefault();
  var Veggie = {burger_name: $("#veggieN").val(), devoured: $("#eaten").val() }
 $.ajax({
      method: "POST",
      url: "/api/burgers" ,
      data: Veggie
    }).then(function(data, err){
      console.log("pls");
    })

  }
</script>
