<header class="text-center" style="background-color: #b3ffb3;"><h1>Veggies!</h1>

<h2>Veggies not eaten >:O</h2>
<br>
</header>
</br>
<div class="container">
<div class="row">
<div class="col" style="background-color: #b3ffb3;">
  <br>
  <h2>Uneaten Veggies</h2>
  {{#each burgers}}
  {{#unless devoured}}
   <p>{{burger_name}}</p>
   <button class="getEat" data-veggieid="{{this.id}}">Eat the Veggie!</button>
  {{/unless}}
  {{/each}}
</div>

<div class="col" style="background-color: #b3ffb3;">
  <h2>Eaten Veggies</h2>
  {{#each burgers}}
  {{#if devoured}}
    <p>{{burger_name}}</p>
{{/if}}
    {{/each}}
</div>

<br>

<div class="row">
  <div class="col" style="background-color: #b3ffb3;">
<div>
	<input id="veggieN" type="text" name="burger_name"></input>
  <input id="eaten" type="hidden" name ="devoured" value="0"></input>
 <!--<input type="submit" value="Button">-->
	</div>
  <button id="clicks">New Veggie</button>

</div>
</div>
</div>
</div>

<script>
  
  $("#clicks").click(function(e){
    e.preventDefault();
    postVeggie();
    window.location.replace("/");
  });
 function postVeggie (){
   //e.preventDefault();
  var Veggie = {burger_name: $("#veggieN").val(), devoured: $("#eaten").val() }
 $.ajax({
      method: "POST",
      url: "/api/burgers" ,
      data: Veggie
    }).then(function(data, err){
     // console.log("pls");
    })

  } 

  $(".getEat").on("click", function(event) {
    var id = $(this).data("veggieid");
  console.log(id);
    var newVeggieState = {
      devoured: 1
    };

    // Send the PUT request.
    $.ajax("/api/burgers/"+id, {
      type: "PUT",
      data: newVeggieState
    }).then(
      function() {
        console.log("changed veggie to", newVeggieState);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
